<figure class="figure">
    <img src="../../../assets/images/actor-image.jpg" 
    class="figure-img img-fluid rounded img-thumbnail" 
    style="max-width: 120px;"
    alt="...">
    <figcaption class="figure-caption">Actor name</figcaption>
    <figcaption class="figure-caption">(Role)</figcaption>
</figure>

<figure class="figure">
    <img src="../../../assets/images/actor-image.jpg" 
    class="figure-img img-fluid rounded img-thumbnail" 
    style="max-width: 120px;"
    alt="...">
    <figcaption class="figure-caption">Actor name</figcaption>
    <figcaption class="figure-caption">(Role)</figcaption>
</figure>

<figure class="figure">
    <img src="../../../assets/images/actor-image.jpg" 
    class="figure-img img-fluid rounded img-thumbnail" 
    style="max-width: 120px;"
    alt="...">
    <figcaption class="figure-caption">Actor name</figcaption>
    <figcaption class="figure-caption">(Role)</figcaption>
</figure>

<figure class="figure">
    <img src="../../../assets/images/actor-image.jpg" 
    class="figure-img img-fluid rounded img-thumbnail" 
    style="max-width: 120px;"
    alt="...">
    <figcaption class="figure-caption">Actor name</figcaption>
    <figcaption class="figure-caption">(Role)</figcaption>
</figure>

<figure class="figure">
    <img src="../../../assets/images/actor-image.jpg" 
    class="figure-img img-fluid rounded img-thumbnail" 
    style="max-width: 120px;"
    alt="...">
    <figcaption class="figure-caption">Actor name</figcaption>
    <figcaption class="figure-caption">(Role)</figcaption>
</figure>

<figure class="figure">
    <img src="../../../assets/images/actor-image.jpg" 
    class="figure-img img-fluid rounded img-thumbnail" 
    style="max-width: 120px;"
    alt="...">
    <figcaption class="figure-caption">Actor name</figcaption>
    <figcaption class="figure-caption">(Role)</figcaption>
</figure>

<figure class="figure">
    <img src="../../../assets/images/actor-image.jpg" 
    class="figure-img img-fluid rounded img-thumbnail" 
    style="max-width: 120px;"
    alt="...">
    <figcaption class="figure-caption">Actor name</figcaption>
    <figcaption class="figure-caption">(Role)</figcaption>
</figure>

<figure class="figure">
    <img src="../../../assets/images/actor-image.jpg" 
    class="figure-img img-fluid rounded img-thumbnail" 
    style="max-width: 120px;"
    alt="...">
    <figcaption class="figure-caption">Actor name</figcaption>
    <figcaption class="figure-caption">(Role)</figcaption>
</figure>

<figure class="figure">
    <img src="../../../assets/images/actor-image.jpg" 
    class="figure-img img-fluid rounded img-thumbnail" 
    style="max-width: 120px;"
    alt="...">
    <figcaption class="figure-caption">Actor name</figcaption>
    <figcaption class="figure-caption">(Role)</figcaption>
</figure>

<figure class="figure">
    <img src="../../../assets/images/actor-image.jpg" 
    class="figure-img img-fluid rounded img-thumbnail" 
    style="max-width: 120px;"
    alt="...">
    <figcaption class="figure-caption">Actor name</figcaption>
    <figcaption class="figure-caption">(Role)</figcaption>
</figure>