<div class="container">

    <div class="row">
        <div class="col-md-8 offset-md-2">
            <form [formGroup]="feedbackForm" (ngSubmit)="submitFeedback()">
                <legend>Let us know what you think</legend>
                <hr>
        
                <div class="mb-3">
                    <label for="emailAddress" class="form-label">Email address</label>
                    <input
                        type="email"
                        class="form-control"
                        id="emailAddress"
                        placeholder="Your email address"

                        formControlName="emailAddress"
                    />
                </div>
        
                <div class="mb-3">
                    <label for="phoneNumer" class="form-label">Phone number</label>
                    <input
                        type="text"
                        class="form-control"
                        id="phoneNumer"
                        placeholder="Your phone number"

                        formControlName="phoneNumber"
                    />
                </div>
        
                <div class="mb-3">
                    <label for="rateExperience" class="form-label">Rate experience</label>
                    <input
                        type="range"
                        class="form-range"
                        min="0"
                        max="10"
                        step="1"
                        id="rateExperience"

                        formControlName="rate"
                    />
                </div>
        
                <div class="mb-3">
                    <label for="title" class="form-label">Title</label>
                    <input
                        type="text"
                        class="form-control"
                        id="title"
                        placeholder="Your feedback title"

                        formControlName="feedbackTitle"

                    />
                </div>
        
                <div class="mb-3">
                    <label for="feedback" class="form-label">Feedback</label>
                    <input
                        type="text"
                        class="form-control"
                        id="feedback"
                        placeholder="Your feedback"

                        formControlName="feedback"
                    />
                </div>
        
                <div class="mb-3">
                    <button type="submit" class="btn btn-primary">
                        <i class="bi bi-send"></i> Submit feedback
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>